[Unit]
Description=Aux1 Service
Requires=network-online.target
After=network-online.target

[Service]
ExecPreStart=timeout 60s bash -c 'until ip a s dev wlan0; do sleep 1; done'
Type=simple
WorkingDirectory=/home/orangepi/Documents/
ExecStart=sudo /usr/bin/python3 aux1.py
Restart=on-failure
RestartSec=15
StartLimitBurst=5
StartLimitIntervalSec=60
TimeoutSec=30

[Install]
WantedBy=multi-user.target