[Unit]
Description=Updater Service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/orangepi/Documents/updater.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
